# History files
.Rhistory
.Rapp.history
*.Rproj

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
  

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
oauth/

# Past results & source data
August 2015/

# Misc other
twitter profile/